<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/articles/<%= @article.id %>">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <p>Title Name: <input type="text" name="title" value="<%=@article.title%>"></p>    
        <p>Description: <input type="text" name="content" value="<%=@article.content%>"></p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>