<%# create this view file with a form that POSTs to a controller action, /articles. %>
<%# The controller action should use the Create CRUD action to create the article and save it to the database. %>
<%# When the form on new.erb is submitted, the action, pointing to /articles, will redirect to another action %>
<%# which will trigger a render of a show.erb file automatically.  %>

<form method="POST" action="/articles">
   <input type="text" name="title"/>
   <input type="text" name ="content"/>
<input type="submit" id ="Submit"/>
</form>