<!DOCTYPE html>
<html>
    <head>
        <title>New Article</title>
    </head>

    <body>
        <form method="POST" action="/articles">
            Title: 
            <br><input type="text" name="title">
            <br>
            Article content: 
            <br><textarea name="content" rows="10" cols="60"></textarea>
            <br>
            <br>
            <input type="submit" value="Submit" id="submit">
        </form>
    </body>

</html>